*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
container{
    display: grid;
    grid-template-columns:80px 100px 80px 100px;
    width: 500px;
    height: 250px;
    background-color: aquamarine;
    margin: 10px;
    border-radius: 10px;
}
.cell{
    height: 30px;
    border: 2px solid rgb(22, 150, 150);
}
